.home {
  min-height: calc(100vh - 130px);
}

.main_heading {
  font-weight: 500;
  text-align: center;
  margin-bottom: 100px;
}

.efficiency {
  position: relative;
  display: flex;
  justify-content: center;
}

.mac_img {
  width: 80%;
  z-index: 2;
}

.iphone_img {
  display: none;
}

.efficiency_bg {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70%;
  background-color: #8e9c78;
  border-radius: 50px;
  z-index: 1;
}

.trustedby {
  width: 100%;
  padding: 50px 0;
}
.trustedby p {
  margin-bottom: 30px;
}
.trustedby_logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 28px;
}

.logo {
  max-width: 90px;
  height: auto;
}

@media (max-width: 1280px) {
  .main_heading {
    margin-bottom: 80px;
  }
}

@media (max-width: 800px) {
  .iphone_img {
    display: block;
    width: 50%;
    z-index: 2;
    height: 400px;
  }

  .efficiency_bg {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 85%;
    border-radius: 20px;
  }
  .mac_img {
    display: none;
  }
  .main_heading {
    /* margin-bottom: 70px; */
    margin: 100px 0px 72px 0px;
  }

  .logo {
    /* max-width: 130px; */
  }
}

@media (max-width: 480px) {


.iphone_img {
  width: 80%;
    /* height: 400px; */
  }
}
