.benefits {
  padding: 80px 0 0px 0;
}

.textbox {
  padding: 50px 0px 0px 0;
}

.textbox h3 {
  margin: 50px 0;
}
/* 
.outerline {
  border-top: 1px solid gray;
  opacity: 0.2;
} */

.benefit_box {
  padding: 50px 0 60px 0;
}

.benefit_cards {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.benefit_card {
  padding: 40px 0;
}

.benefit_cardIcon {
  max-width: 20px;
}

.benefit_cardTitle {
  margin: 22px 0;
}

.hero_imgBox{
  padding-bottom: 120px;
}

@media (max-width: 720px) {
  .textbox h3 {
    margin: 30px 0;
  }

  .benefit_cards {
    flex-direction: column;
    gap: 24px;
  }

  .hero_img {
    object-fit: cover;
    height: 400px;
    border-radius: 24px;
  }

  .hero_imgBox{
  padding-bottom: 100px;
}
}
