.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 72px 0;
}

.nav_title {
  font-size: 36px;
  font-weight: 500;
  color: black;
}

.nav_links {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1111;
  display: flex;
  gap: 24px;
  padding: 20px 24px;
  border-radius: 100px;

  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.4);
  overflow: clip;
}

.learn_more_btn {
  display: flex;
  align-items: center;
  gap: 2px;
  background: var(--btn-dark);
  color: white;
}

.mobile_menu_btn {
  display: none;
}

.mobile_nav {
  display: none;
}

.hidemobileNav {
  display: none;
  position: relative;
  cursor: pointer;
}
.crossImg {
  display: none;
}

@media (min-width: 800px) {
  .mobile_nav {
    display: none;
  }
}

@media (max-width: 800px) {
  .hidemobileNav {
    display: block;
  }
  .crossImg {
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: -7px;
    right: 10px;
  }
  .navbar {
    border-bottom: 1px solid #dcdcdc;
    border-radius: 20px;
  }
  .main_nav {
    background: white;
    position: fixed;
    right: -5px;
    z-index: 111;
    padding: 20px 12px 20px 6px;
  }

  .mobile_menu_btn {
    display: block;
    cursor: pointer;
    max-width: 24px;
  }
  .show {
    display: block;
  }
  .nav_links,
  .learn_more_btn {
    display: none !important;
  }

  .mobile_nav {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 65vh;
    background: white;
    z-index: 999999; /* set high */

    /* hidden by default */
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
  }

  .show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .mobile_nav_links {
    height: 100%;

    padding: 50px 18px 0px;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 20px;
  }

  .mobile_nav_links li {
    padding: 30px 0;
    font-weight: 600;
    border-top: 1px solid #dcdcdc;
  }
  .arrowImg {
    width: 8px;
    height: 8px;
    vertical-align: middle;
  }

  .mobile_learn_more_btn {
    margin-top: 30px;
    gap: 2px;
    background: var(--btn-dark);
    color: white;
    padding: 16px 20px;
    font-weight: 600;
  }
}
