.MapYourSuccess {
}
.container {
  border-top: 1px solid #dcdcdc;
  padding-bottom: 120px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 80px 0px;
}

.header button{
  font-weight: 600;
}

.count {
  display: flex;
  justify-content: space-between;
}

.count div {
  padding: 60px 0px 20px 0px;
}

.heading {
  margin: 60px 0px 20px 0px;
  color: black;
}

#count1,
#count2,
#count3 {
  color: #929292;
  border-top: 1px solid #dcdcdc;
}

/* #count1 {
}
#count2 {
}
#count3 {
} */

.heroImg {
  border-radius: 20px;
  padding-bottom: 40px;
}

@media only screen and (max-width: 720px) {
  .container {
    padding-bottom: 100px;
  }

  #count3 {
    display: none;
  }

  .heroImg {
    object-fit: cover;
    height: 450px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    display: block;
  }

  .header h3 {
    margin-bottom: 40px;
  }
}
